{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

	<div="grid-row section">
		<div class="column-full">
			<div class="sign-out">
				<a href="/profile" class="user-name"> {{user}}</a>|
				<a href="/logout">Sign out</a></li>
			</div>
		</div>
	</div>

	<h1 class="heading-large"> My Learning Portal</h1>


	<div class="grid-row section">

		<div class="column-third">
			<h3 class="heading-medium" id="mandatory-learning">Manadtory Learning</h3>
			<div class="data">
					<span class="data-item bold-xxlarge">24%</span>
					<span class="data-item bold-xsmall">Complete</span>
			</div>
		</div>

		<div class="column-third">
			<h3 class="heading-medium" id="courses-completed">Courses Completed</h3>
			<div class="data">
				<span class="data-item bold-xxlarge">5</span>
			</div>
		</div>

		<div class="column-third">
			<h3 class="heading-medium" id="courses-progress">Courses in Progress</h3>
			
			<ul class="list">
					{% for course in proCourses%}
					<li><a href="#">{{course.title}} </a></li>
					{%endfor%}
				</ul>
		</div>

		<div class="column-full">
			<a class="button button-start" href="#" role="button">Go to my Learning Plan</a>
		</div>

		<div class="column-full">
			<br>
		</div>
	
		<div class="column-full">
			<h3 class="heading-medium" id="recommended-learning">Recommended Learning</h3>
			<table>
				<thead>
					<tr>
						<th scope="col">Course Title</th>
						<th scope="col">Type</th>
						<th scope="col">Duration</th>
						<th scope="col">Tags</th>
						<th scope="col">Add to Learning Plan</th>
					</tr>
				</thead>
				<tbbody>
					
					{% for course in recCourses%}
						<tr>
							<td> {{course.title}}</td>
							<td> {{course.type}}</td>
							<td> {{course.duration}}</td>
							<td> {{course.tags}}</td>
							<td> <input class="button" type="submit" value="+"></td>
						</tr>
					{%endfor%}
				</tbbody>

			</table>
		</div>
		
</main>


{% endblock %}


